* {
    box-sizing: border-box;
}

body {
    background-color: #d6d5d5;
}

#shoeSVG {
    max-width: 700px;
    height: auto;
    margin: 0 auto;
}

#colors {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.col_left {
    height: 95px;
    flex-grow: 1;
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col_right {
    flex-grow: 2;
    flex-basis: 600px;
}

#colorPicker {
    width: 100%;
    margin-bottom: 5px;
}

.color_list {
    display: flex;
    justify-content: flex-end;
}

.color_list {
    margin: 15px 0 0 15px;
}

.hex1, .hex2, .hex3, .hex4, .hex5, .hex6, .hex7, .hex8, .hex9 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.7rem;
}

.colorBox1, .colorBox2, .colorBox3, .colorBox4, .colorBox5, .colorBox6, .colorBox7, .colorBox8, .colorBox9 {
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorBox1 {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.colorBox9 {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#Layer_5_Image {
    pointer-events: none;
}